<div class="container mt-5 screen channels-box" id="testStepActionSetup" >
<h2 class="text-left">Test Step Action List</h2>
<button class="btn btn-primary float-end" ng-click="showAddTestStepActionUI()">Add Test Step Action</button>
 <br/>
 <br/>
<table class="table">
    <thead>
      <tr>
      	<th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Created By</th>
      
      </tr>
    </thead>
    <tbody>
      <!-- Sample Row (Replace with dynamic data) -->
      <tr class="info">
					<td ng-if="actionList == null || actionList.length == 0"
						colspan="{{headers.length}}" class="text-center">No Records
						Available to Display</td>
				</tr>
				<tr ng-repeat="content in actionList"
					ng-click="viewTestCases(content.testRunID)">
					<td>
						<!-- Action Buttons -->
						<div class="action-buttons">
							<button class="btn btn-edit" ng-click="showEditTestStepActionUI(content.id)">Edit</button>
							<button class="btn btn-view">View</button>
							<button class="btn btn-disable">Disable</button>

						</div>
					</td>
					<td>{{content.code}}</td>
					<td>{{content.description}}</td>
					<td>{{content.createdBy}}</td>
				</tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>