<div class=" screen" id="channelsScreen">
	<h2 class="text-left">Mirth Channels</h2>

	<!-- 2) Channels Screen -->
	<div class="channels-box">
		<div class="panel panel-primary">
			<div class="panel-heading">Channel List</div>
			<div class="panel-body">
				<button class="btn btn-sm btn-primary float-end float-right"
					onclick="showSection('addChannelScreen')">Enable
					Automation for New Channel</button>
				<!-- Grid with Columns -->
				<table class="table" id="channelsListTable">
					<thead>
						<tr>
							<th></th>
							<th>Channel Name</th>
							<th>Failed Percentage</th>
							<th>Last Test Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr class="info">
							<td ng-if="contents == null || contents.length == 0" colspan="6"
								class="text-center">No Records Available to Display</td>
						</tr>
						<tr ng-repeat="content in contents"
							ng-click="viewTestCases(content.testRunID)">
							<td>
								<!-- Action Buttons -->
								<div class="action-buttons">
									<span title="Edit"><i class="fa fa-edit fa-lg "></i></span>
									<span title="Discard"><i class="fa fa-trash fa-lg "></i></span>
									<span title="Disable"><i class="fa fa-ban fa-lg "></i></span>
								</div>
							</td>
							<td>{{content.channelName}}</td>
							<td>{{content.failureTestRate}}</td>
							<td></td>
							<td>
								<!-- Action Buttons -->
								<div class="action-buttons">
									<button class="btn btn-sm btn-edit" ng-click="showAddTestcaseForm(content.id,content.id )">Add
										Test Case</button>
									<button class="btn btn-sm btn-view">Run Test Now</button>
								</div>
							</td>

							<script type="text/javascript">
								$('.action-buttons span').tooltip({
									container : 'body'
								});
							</script>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Enable Automation Button -->

	</div>
</div>