<div>
	<h2 class="text-left">Test Run History</h2>
	<div class="panel panel-primary">
		<div class="panel-heading">Search Panel</div>
		<div class="panel-body">
		</div>
	</div>	
	<div class="panel panel-primary">
		<div class="panel-heading">Test Run List</div>
		<div class="panel-body">
			<!-- Grid with Columns -->
			<div class="test-run-history-box">
				<!-- Data Grid -->
				<table class="table">
					<thead>
						<tr>
							<th style="width:10%">Actions</th>
							<th style="width:10%">Type</th>
							<th style="width:10%">Name</th>
							<th style="width:10%">Description</th>
							<th style="width:10%">Status</th>
							<th style="width:10%">Test Execution Start At</th>
							<th style="width:10%">Test Execution End At</th>
							<th style="width:10%">Success Test Rate</th>
							<th style="width:10%">Failed Test Rate</th>
							<th style="width:10%">Pending Test Rate</th>
							<th style="width:10%">Executed By</th>
						</tr>
					</thead>
					<tbody>
						<tr class="info">
							<td ng-if="contents == null || contents.length == 0" colspan="11"
								class="text-center">No Records Available to Display</td>
						</tr>
						<tr ng-repeat="content in contents"
							ng-click="viewTestCases(content.testRunID)">
							<td>
								<!-- Action Buttons -->
								<div class="action-buttons">
									<a class="cursor-pointer">Detail View</a>
								</div>
							</td>
							<td>{{content.testEntity|testRunTypeFormatter }}</td>
							<td>{{content.testEntityName}}</td>
							<td>{{content.testEntityDesc}}</td>
							<td>{{content.testStatus|statusFormatter}}</td>
							<td>{{content.executionStartAt|localDate}}</td>
							<td>{{content.executionCompletionAt|localDate}}</td>
							<td>{{content.successTestRate|percentage}}</td>
							<td>{{content.failedTestRate|percentage}}</td>
							<td>{{content.pendingTestRate|percentage}}</td>
							<td>{{content.executedBy}}</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center">
						<li class="page-item" ng-class="{disabled: currentPage === 1}">
							<a class="page-link" ng-click="setPage(1)" aria-label="First">
								<span aria-hidden="true">&laquo;&laquo;</span>
						</a>
						</li>
						<li class="page-item" ng-class="{disabled: currentPage === 1}">
							<a class="page-link" ng-click="setPage(currentPage - 1)"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a>
						</li>
						<li class="page-item" ng-repeat="page in getPages()"
							ng-class="{active: page === currentPage}"><a
							class="page-link" ng-click="setPage(page)">{{page}}</a></li>
						<li class="page-item"
							ng-class="{disabled: currentPage === totalPages}"><a
							class="page-link" ng-click="setPage(currentPage + 1)"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
						<li class="page-item"
							ng-class="{disabled: currentPage === totalPages}"><a
							class="page-link" ng-click="setPage(totalPages)"
							aria-label="Last"> <span aria-hidden="true">&raquo;&raquo;</span>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>