<div id="addTestCaseScreen" class=" mt-5 screen">
	<h2 ng-if="formData.mirthChannelId != ''">Edit Test Case</h2>
	<h2 ng-if="formData.mirthChannelId == '' || formData.mirthChannelId == null">Add Test Case</h2>
	<div class="panel panel-primary">
		<div class="panel-heading">Channel Name: <strong>{{showChannelDesc()}}</strong></div>
		<div class="panel-body">
			<!-- 6.2) Test Case Id -->
			<div class="form-group">
				<label for="testCaseId">Test Case Id</label> <input type="text"
					class="form-control" id="testCaseId" name="testCaseId"
					ng-model="formData.testCaseId" restrict-input="[^a-zA-Z0-9_]">
			</div>

			<!-- 6.3) Test Case Description -->
			<div class="form-group">
				<label for="testCaseDescription">Test Case Description</label>
				<textarea class="form-control" id="testCaseDescription"
					name="testCaseDescription" rows="3"
					ng-model="formData.testCaseDescription"></textarea>
			</div>
			<!-- 6.4) Save and Add Test Steps Buttons -->
			<button ng-if="formData.id === null || formData.id == ''"
				type="button" class="btn btn-primary" ng-click="saveTestCase()">Save</button>
			<button ng-if="formData.id !== null && formData.id != ''"
				type="button" class="btn btn-primary" ng-click="updateTestCase()">Update</button>
			<button ng-if="formData.id !== null && formData.id != ''"
				type="button" class="btn btn-primary" ng-click="showAddStepsList()">Add
				Test Steps</button>
		</div>
	</div>
</div>