<div id="testStepsScreen" class=" mt-5 screen">
	<h2>Test Steps</h2>
	<!-- 7.1) Channel Name Label with Value -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			Channel Name: <strong>{{formData.channelName}}</strong>, Test Case: <a
				ui-sref="dashboard.test-case-edit-entry({'testCaseId': formData.testCaseId, 'channelId': formData.channelId})"><strong>{{formData.testCaseDescription}}</strong></a>
		</div>
		<div class="panel-body">
			<!-- 7.3) Add Test Step Button -->
			<button type="button" class="btn btn-primary"
				ng-click="showAddTeststepUI()">Add Test Step</button>
			<br />
			<table class="table" id="test-step-grid">
				<thead>
					<tr>
						<th></th>
						<th>Description</th>
						<th>Sequence</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info">
						<td ng-if="testStepList == null || testStepList.length == 0"
							colspan="4" class="text-center">No Records Available to
							Display</td>
					</tr>
					<tr ng-repeat="content in testStepList">
						<td>
							<!-- Action Buttons -->
							<div class="action-buttons">
								<button class="btn btn-sm btn-edit">Edit</button>
								<button class="btn btn-sm btn-view">View</button>
								<button class="btn btn-sm btn-disable">Disable</button>

							</div>
						</td>
						<td>{{content.description}}</td>
						<td>{{content.sequence}}</td>
						<td>{{content.actionMst.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>