<div id="testStepsScreen" class=" mt-5 screen">
  <h2>Test Steps</h2>
  <form>
    <!-- 7.1) Channel Name Label with Value -->
	<div class="row">
		 <div class="form-group col-sm-5">
		  <label>Channel Name</label>
		  <input type="text" class="form-control" id="channelName" value="" disabled="disabled" ng-model="formData.channelName"/>
		</div>
		<div class="form-group col-sm-5">
		  <label>Test Case Description</label>
		  <input type="text" class="form-control" id="testCaseDesc" value="" disabled="disabled" ng-model="formData.testCaseDescription"/>
		</div>
     </div>
   
   
   <!-- 7.3) Add Test Step Button -->
    <button type="button" class="btn btn-primary" ng-click="showAddTeststepUI(formData.)">Add Test Step</button>
	<br/>
	  <table class="table" id="test-step-grid">
      <thead>
        <tr>
		  <th></th>
          <th>Description</th>
          <th>Sequence</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
       <tr class="info">
					<td ng-if="testStepList == null || testStepList.length == 0"
						colspan="4" class="text-center">No Records
						Available to Display</td>
				</tr>
				<tr ng-repeat="content in testStepList"
					ng-click="viewTestCases(content.testRunID)">
					<td>
						<!-- Action Buttons -->
						<div class="action-buttons">
							<button class="btn btn-edit">Edit</button>
							<button class="btn btn-view">View</button>
							<button class="btn btn-disable">Disable</button>

						</div>
					</td>
					<td>{{content.description}}</td>
					<td>{{content.sequence}}</td>
					<td>{{content.actionMst.description}}</td>
				</tr>
      </tbody>
    </table>
  </form>
</div>