<div class="screen" id="dashboardScreen">
  <h2 class="text-left">Dashboard</h2>

  <!-- 1.1) First Row - Boxes -->
  <div class="row">
    <div class="col-sm-4">
      <div class="dashboard-box">
        <h4>Succeeded Test Run</h4>
        <p>123</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dashboard-box">
        <h4>Total Test Suites</h4>
        <p>45</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="dashboard-box">
        <h4>Total Test Cases</h4>
        <p>789</p>
      </div>
    </div>
  </div>

  <!-- 1.2) Second Row - Pie Chart -->
  <div class="row">
    <div class="col-sm-6">
      <div class="dashboard-box">
        <h4>Last Test Run</h4>
        <!-- Add your pie chart here -->
        <canvas class="chart" id="pieChart"></canvas>
      </div>
    </div>
	<div class="col-sm-6">
      <div class="dashboard-box">
        <h4>Most Test Failed Mirth Channels</h4>
        <!-- Add your bar chart here -->
        <canvas class="chart" id="barChart"></canvas>
      </div>
    </div>
  </div>
 
</div>
<script type="text/javascript">
loadChart();
</script>
